<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="onPrevious()" role="link"
        [ariaDisabled]="currentPage <= 1">Previous</a></li>
    <li class="page-item " [ngClass]="page === currentPage? 'active' : ''" *ngFor="let page of pages"><a
        class="page-link" (click)="onGoTo(page)" (keyup.enter)="onGoTo(page)">{{page}}</a></li>
    <li class="page-item"><a class="page-link" (click)="onNext()" role="link"
        [ariaDisabled]="currentPage === totalPages">Next</a></li>
  </ul>
</nav>