<header>
  <!-- Jumbotron -->
  <div class="p-2 mb-3 d-flex   bg-info text-white">
    <h1 class=" ">Manage <strong> Employees</strong></h1>
    <div class=" ">
      <app-employee-form-delete></app-employee-form-delete>
      <app-employee-form></app-employee-form>
    </div>
  </div>
  <!-- Jumbotron -->

</header>

<!-- Data Grid Component -->
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%"
  *ngIf="!(loading$ | async)">
  <thead>
    <tr>
      <th>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialUnchecked">
          <label class="form-check-label" for="materialUnchecked"></label>
        </div>
      </th>
      <th class="th-sm" [appSort]="emplyeesToDisplay" data-order="desc" data-name="empName">Name
      </th>
      <th class="th-sm" [appSort]="emplyeesToDisplay" data-order="desc" data-name="empEmail">Email
      </th>
      <th class="th-sm" [appSort]="emplyeesToDisplay" data-order="desc" data-name="empAddress">Address
      </th>
      <th class="th-sm" [appSort]="emplyeesToDisplay" data-order="desc" data-name="empPhone">Phone
      </th>
      <th class="th-sm">Actions
      </th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of emplyeesToDisplay">
      <td>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="materialUnchecked">
          <label class="form-check-label" for="materialUnchecked"></label>
        </div>
      </td>
      <td>{{employee.empName}}</td>
      <td>{{employee.empEmail}}</td>
      <td>{{employee.empAddress}}</td>
      <td>{{employee.empPhone}}</td>
      <td>
        <i class="bi bi-pencil-fill icon-orange " (click)="openEditModal(employee.empId)"></i>
        <i class="bi bi-trash-fill icon-red" (click)="deleteEmployee(employee.empId)"></i>
      </td>
    </tr>
  </tbody>

</table>
<!-- Data Grid Component -->

<!-- PaginationComponent -->
<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (goTo)="onGoTo($event)"
  (previous)="onPrevious($event) " (next)="onNext($event)"></app-pagination>
<!-- PaginationComponent -->

<!-- Edit Modal -->
<app-model (dismiss)="onCloseHandled()" [display]="display" *ngIf="showModel">

  <div modal-header>
    <h5 class="modal-title">Edit Employee</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onCloseHandled()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div modal-body>
    <app-form [empId]="empId" [editMode]="editMode" (dismiss)="onCloseHandled()"
      (addNewEmp)="addEmployee($event)"></app-form>
  </div>
</app-model>
<!-- Edit Modal -->