<div>
  <div (click)="onDismissClick()" class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div (click)="$event.stopPropagation()" class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <ng-content select="[modal-header]"></ng-content>
        </div>
        <div class="modal-body">
          <ng-content select="[modal-body]"></ng-content>
        </div>
        <div class="modal-footer">
          <ng-content select="[modal-footer]"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>